.price {
  float: right;
}

.panel {
  border: 1px solid black;
  border-radius: 1em;
  padding: 50px 40px 40px;
}

.line {
  width: 60%;
  margin: 0;
}

.subheading1 {
  font-size: 1.5em;
  margin: 0 0 30px;
  font-weight: 400;
}

.subheading2 {
  font-size: 1.5em;
  margin: 30px 0 15px;
  font-weight: 400;
}

.subheading3 {
  font-size: 1.5em;
  margin: 15px 0 30px;
  font-weight: 400;
}

.total {
  font-size: 1.8em;
  margin: 30px 0 0;
  font-weight: 500;
}

.checkout {
  font-size: 1em;
  padding: 10px 25px;
  font-weight: 500;
  border: none;
  border-radius: 0;
  background: rgb(65, 65, 65);
  width: 100%;
  margin: 30px 0 0;
}
