.price {
  float: right;
  font-size: 0.9em;
  font-weight: 400;
}

.title {
  font-weight: 400;
}

.card {
  border: none;
}

.description {
  font-weight: 300;
}

/* ProductAmount styles */

.amount {
  margin: 0 12px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.button {
  width: 30px;
  height: 30px;
  padding: 0px;
  background-color: grey;
  border: none;
  border-radius: 50%;
}
