@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}

#root {
  font-family: "Quicksand", sans-serif;
}

html,
body {
  margin-bottom: 30px;
}
